# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
*.keystore
*.jks

# IDE
.idea/
*.iml
.vscode/
